.car-part-preview{
    background-color: $grey-primary;
    padding: 15px 20px;
    border-radius: 12px;
    margin: 12px 0;
    border: solid 2px transparent;
    &__content-name{
        font-weight: $font-weight-bold;
        font-size: $font-size-normal;
        margin-bottom: 2px;
    }
    &__content-time{
        font-style: normal;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
    }
    &__img{
        height: 48px;
        width: 48px;
        margin-right: 25px;
    }
    .icon-next{
        cursor: pointer;
    }
    &.active{
        border: dashed 2px $grey-primary;
        background-color: transparent;
    }
}