.header-go-to-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
        font-size: $font-size-extra-large;
        font-weight: $font-weight-bold;
        width: 75%;
    }
    .icon {
        cursor: pointer;
    }
}

.test {
    background-color: red;
    display: flex;
    &-test {
        width: 500px;
    }
}
