@import './../app.scss';

.maintenance-upcomming-preview{
    margin-top: 20px;
    background-color: $grey-primary;
    border-radius: 25px;
    padding: 24px;
    &__title{
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
    }
}