.nav-bar {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: $grey-primary;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 28px;
    width: $screen-max-width;
    margin: auto !important;
    a {
        text-decoration: none;
        color: inherit;
    }
    &__item-car {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        &.active {
            div {
                transition: background-color, opacity 1s ease;
                background-color: $green-primary;
                opacity: 1;
            }
            span {
                transition: background-color, opacity 1s ease;
                font-weight: $font-weight-bold;
                opacity: 1;
            }
        }

        &-nav,
        &-car-nav {
            border-radius: 10px;
            height: 40px;
            width: 40px;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            &-icon {
                max-width: 30px;
            }
        }
        &-nav {
            opacity: 0.3;
            background-color: $grey-secondary;
        }

        &-car-nav {
            border-width: 2px;
            border-style: solid;
            .icon {
                mask-size: 100% 100%;
            }
        }

        &-label {
            font-weight: $font-weight-normal;
            font-size: $font-size-extra-small;
            opacity: 0.3;
        }
    }
}
