.maintenance-book {
    &__header {
        &-title {
            font-size: $font-size-extra-large;
            font-weight: $font-weight-bold;
        }

        &-car {
            margin: 10px 0 30px 0;
            position: relative;
            display: inline-block;
            font-size: $font-size-medium;
            font-weight: $font-weight-semi-bold;
            .icon-bottom {
                background-color: $green-primary;
                position: absolute;
                top: 25%;
                right: -25px;
            }
        }
    }
    .btn-thirdary{
        margin-top: 10px;
        text-align: left;
        padding-left: 13px;
        position: relative;
        .icon{
            position: absolute;
            right: 15px;
            top: 28%;
            background-color: $green-primary;
            transform: rotate(0deg);
            transition: background-color ease 0.3s;
        }
        &:hover .icon{
            background-color: $white-primary;
        }
    }
}
