.authentication {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 85vh;
    color: $white-primary;

    input::placeholder {
        font-size: $font-size-small;
    }

    &-title {
        font-size: $font-size-mega-large;
        font-weight: $font-weight-bold;
        margin-bottom: 1.2rem;
    }

    &__input-box {
        height: 3rem;
        width: 18.75rem;
        padding-left: 1rem;
        border: 1px solid $grey-secondary;
        background: transparent;
        border-radius: 12px;
        color: white;
        margin-bottom: 4px;

        &::placeholder {
            color: $grey-secondary;
        }
    }

    &__password-div {

        &-password-shown {
            margin-left: 16.5rem;
            margin-top: 0.5rem;
            right: 53px;
            position: absolute;
        }
        .eye {
            cursor: pointer;
        }

    }
    
    &__forgot-password {
        color: $white-primary;
        font-size: $font-size-small;
        font-weight: $font-weight-normal;
        float: right;
        margin-top: 12px;
    }

    &__error-message {
        font-size: 0.75rem;
        text-align: right;
        color: red;
        height: 0;
        visibility: hidden;
        margin-bottom: 0;
        &.invalid {
            margin-top: 0px;
            visibility: visible;
            margin-right: 5px;
            margin-bottom: 6px;
            height: 100%;
        }
    }

    .btn-primary {
        margin-top: 24px;
    }
}
