.inscription-choice {
    display: flex;
    flex-direction: column;
    color: $white-primary;
    
    &__logo {
        margin-top: 8rem;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    &__container {
        margin-top: 10.6rem;

        &-title {
            font-size: $font-size-medium;
            font-weight: $font-weight-bold;
            opacity: 0.8;
        }

        &-desc {
            font-weight: $font-weight-bold;
            font-size: $font-size-extra-large;
            margin-bottom: 36px;
        }

        .btn-primary{
            margin-bottom: 6px;
        }
    }
}
