.login {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 85vh;
    color: $white-primary;

    input::placeholder {
        font-size: $font-size-small;
    }

    &-title {
        font-size: $font-size-mega-large;
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
    }

    &__input-box {
        height: 3rem;
        width: 18.75rem;
        padding-left: 1rem;
        border: 1px solid $grey-secondary;
        background: transparent;
        border-radius: 12px;
        color: white;

        &::placeholder {
            color: $grey-secondary;
        }
    }

    &__password-div {
        display: flex;

        &-password {
            margin-top: 6px;
        }

        &-password-shown {
            margin-left: 16.5rem;
            margin-top: 1rem;
            // background-color: blue
            position: absolute;
        }
    }

    &__forget-password-div {
        text-align: right;
        margin-top: 12px;

        &-forget-password {
            color: white;
        }
    }

    &__connect {
        display: flex;
        justify-content: center;
        margin-bottom: 4.5rem;
    }

    &__error-message {
        font-size: 0.75rem;
        text-align: left;
        color: red;
        margin-top: 0.5rem;
        display: none;
    }
    &__error-message.invalid {
        display: block;
        margin-bottom: 1.5rem;
    }

    .btn-primary{
        margin-top: 24px;
    }
}
