@font-face {
    font-family: "object-sans";
    src: url("./../../assets/font-weem/objectsans-thinslanted.woff2")
            format("woff2"),
        url("./../../assets/font-weem/objectsans-thinslanted.woff")
            format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "object-sans";
    src: url("./../../assets/font-weem/objectsans-thin.woff2") format("woff2"),
        url("./../../assets/font-weem/objectsans-thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "object-sans";
    src: url("./../../assets/font-weem/objectsans-slanted.woff2")
            format("woff2"),
        url("./../../assets/font-weem/objectsans-slanted.woff") format("woff"),
        url("./../../assets/font-weem/objectsans-slanted.otf") format("otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "object-sans";
    src: url("./../../assets/font-weem/objectsans-regular.woff2")
            format("woff2"),
        url("./../../assets/font-weem/objectsans-regular.woff") format("woff"),
        url("./../../assets/font-weem/objectsans-regular.otf") format("otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "object-sans";
    src: url("./../../assets/font-weem/objectsans-heavyslanted.woff2")
            format("woff2"),
        url("./../../assets/font-weem/objectsans-heavyslanted.woff")
            format("woff"),
        url("./../../assets/font-weem/objectsans-heavyslanted.otf")
            format("otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "object-sans";
    src: url("./../../assets/font-weem/objectsans-heavy.woff2") format("woff2"),
        url("./../../assets/font-weem/objectsans-heavy.woff") format("woff"),
        url("./../../assets/font-weem/objectsans-heavy.otf") format("otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "object-sans";
    src: url("./../../assets/font-weem/objectsans-boldslanted.woff2")
            format("woff2"),
        url("./../../assets/font-weem/objectsans-boldslanted.woff")
            format("woff"),
        url("./../../assets/font-weem/objectsans-boldslanted.otf") format("otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "object-sans";
    src: url("./../../assets/font-weem/objectsans-bold.woff2") format("woff2"),
        url("./../../assets/font-weem/objectsans-bold.woff") format("woff"),
        url("./../../assets/font-weem/objectsans-bold.otf") format("otf");
    font-weight: 700;
    font-style: normal;
}
