main {
  background-image: url("../../assets/background_welcome.webp");
  background-size: cover;
  // background-color: #F5F7FF;
  color: #2f3348;
  width: $screen-max-width;
  padding: 45px 36px;
  margin: auto !important;
  min-height: 100vh;
}
