
// Font size
$font-size-giga-small: 8px;
$font-size-extra-small: 10px;
$font-size-extra-semi-small: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-extra-large: 24px;
$font-size-giga-large: 28px;
$font-size-mega-large: 32px;

// Font weight
$font-weight-thin: 100;
$font-weight-extra-light: 200;


$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-standard: 500;
$font-weight-semi-bold: 600;

$font-weight-bold: 700;



$font-weight-extra-bold: 800;
$font-weight-heavy: 900;

// Colors
$green-primary: #16db93;
$green-secondary: #8fbc21;
$green-thirdary: #24ba96;
$green-fourth: #B8F8E0;
$blue-primary: #6a729e;
$blue-secondary: #2f3348;
$blue-thirdary: #3fafbe;
$blue-fourth: #6B75A6;
$blue-five: #0096EB;
$grey-primary: #e4e7f8;
$grey-secondary: #A4A9C4;
$white-primary: white;
$white-secondary: #F5F7FF;
$yellow-primary: #f4dd04;
$yellow-secondary: #FFC700;
$red-primary: #E53E3E;
$red-secondary: #FF6262;
$orange-primary: #FFBE3F;
$violet-primary: #7B61FF;


$screen-max-width: 375px;