
// Font size
$font-giga-small: 8px; 
$font-extra-small: 10px; 
$font-small: 14px; 
$font-normal: 16px;
$font-medium: 18px;
$font-large: 20px; 
$font-extra-large: 24px; 
$font-giga-large: 28px;
$font-mega-large: 32px; 

// Font weight
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500; 
$font-semi-bold: 600; 
$font-bold: 700; 
$font-extra-bold: 800; 
$font-heavy: 900;


// Colors 
$green-primary: #16db93; 
$green-secondary: #8fbc21;
$green-thirdary: #24ba96; 
$blue-primary: #6a729e;
$blue-secondary: #2f3348;
$blue-thirdary: #3fafbe;
$blue-fourth: #6B75A6;
$grey-primary: #e4e7f8;
$white-primary: white; 
$yellow-primary: #f4dd04; 