.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.btn-primary {
    color: $white-primary;
    background-color: $green-primary;
    border-color: transparent;
    transition: all ease 0.3s;
    &:hover,
    &:focus,
    &:active {
        color: $green-primary;
        background-color: transparent;
        border-color: $green-primary;
        transition: all ease 0.3s;
    }
}

.btn-thirdary {
    color: $green-primary;
    background-color: transparent;
    border-color: $green-primary;
    transition: all ease 0.3s;
    &:hover,
    &:focus,
    &:active {
        color: $white-primary;
        background-color: $green-primary;
        border-color: transparent;
        transition: all ease 0.3s;
    }
}

.btn-secondary {
    color: $white-primary;
    background-color: $blue-secondary;
    border-color: transparent;
    transition: all ease 0.3s;
    &:hover,
    &:focus,
    &:active {
        color: $blue-secondary;
        background-color: transparent;
        border-color: $blue-secondary;
        transition: all ease 0.3s;
    }
}

.btn-danger {
    color: $red-primary;
    background-color: transparent;
    border-color: $red-primary;
    transition: all ease 0.3s;
    &:hover,
    &:focus,
    &:active {
        color: $white-primary;
        background-color: $red-primary;
        border-color: transparent;
        transition: all ease 0.3s;
    }
}

.btn-transparent,
.btn-transparent:hover .btn-transparent:focus .btn-transparent:active {
    margin-top: 15px;
    color: $white-primary;
    border: 0;
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
    text-decoration: underline;
}
