.icon {
    height: 28px;
    width: 28px;
    object-fit: contain;
    content: "";
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.icon-back {
    background-color: $grey-primary;
    height: 45px;
    width: 45px;
    background-size: 40% 40%;
    border-radius: 50%;
}

.icon-next {
    background-color: $blue-secondary;
    height: 20px;
    width: 20px;
    background-size: 80% 80%;
}

.icon-bottom {
    height: 20px;
    width: 20px;
    background-size: 80% 80%;
    transform: rotate(90deg);
}

.icon-cross {
    width: 46px;
    height: 46px;
    background-size: 60% 60%;
    background-position: center center;
    transform: rotate(180deg);
}

.icon-tick{
    width: 20px;
    height: 20px;
    &-green{
        background-color: $green-primary;
    }

    &-white{
        background-color: $white-primary;
    }
}

.icon-wheel {
    width: 19px;
    height: 19px;
    background-position: center center;
    background-color: $blue-secondary;
}

.icon-night {
    width: 19px;
    height: 19px;
    background-position: center center;
    background-color: $blue-secondary;
}

.icon-settings {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-position: center center;
    background-color: $blue-secondary;
}

.icon-car-customize{
    
}